/* body{
    background-color: #ffb9c6;
    background: linear-gradient(#ffb9c6,#694ff6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    color: white !important;
} */

body{
    background-color: rgb(235, 235, 235);
}
h1{
    text-align: center;
}
.texto-home{
 
    font-family: Apple Chancery, cursive;
}
.containerHome{
    display: grid;
    grid-auto-columns: 50%;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.botaoHome{
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    gap: 10px;
}
.botaoHome a{
    color: white;
}
.container-home{
    height: max-content;
    display: grid;
    height: 100VH;
    /* background-image: url(./img/Kamaga/Kamaga.png );
    background-repeat: no-repeat; */
}
.container-card{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(150px,150px) );
    column-gap: 30px;
    row-gap: 24px; 
    height: max-content;
}
.divisao-card{
    display: grid;
    grid-template-columns: 24px 100px;
    gap: 10px;
    justify-content: center;
}
.card-cancelado{
   display: none;
}

.divisao-card .logo{
    width: 24px;
    justify-content: start;
}


.container-card .card-body{
    flex: 1 1 auto;
    min-height: 1px;
     padding: 5px;
     background-color: rgb(235, 235, 235);
}

.tamanho-img{
    width: 150px;
    height: 103px;
}
